<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DietBowl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DietBowl.styles.css" asp-append-version="true" />
    
</head>
<body>

    <div class="nawband">

        <nav class="navbar navbar-expand-sm w-100 navbar-toggleable-sm navbar-light
                    border-bottom mb-9 flex-row fixed justify-content-end d-flex" style="height:70px;">

            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
        
            <ul class="navbar-nav flex-grow-1 w-100 flex-row justify-content-end p-5">
                

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("2"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Preferences">Preferencje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Body_Parameters">Parametry ciała</a>
                        </li>
                    }
                    else if(User.IsInRole("0"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Administrator" asp-action="Dietitians">Dietetycy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Administrator" asp-action="AddDietitian">Dodaj dietetyka</a>
                        </li>
                    }
                        else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Dietitian" asp-action="Patients">Wolni pacjenci</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Dietitian" asp-action="AssignedPatients">Moi pacjenci</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">Wyloguj</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Logowanie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Rejestracja</a>
                    </li>
                }

            </ul>
    </div>
    
    </nav>
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>