@model DietBowl.Models.Preference

@{
    ViewData["Title"] = "Dodaj preferencje";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddPreference" asp-controller="User" method="post">
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="WeightGoal" class="control-label"></label>
        <input asp-for="WeightGoal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ActivityStatus" class="control-label"></label>
        <select asp-for="ActivityStatus" class="form-control">
            <option value="">-- Wybierz swój status aktywności --</option>
            <option value="Low">Niska</option>
            <option value="Medium">Średnia</option>
            <option value="High">Wysoka</option>
        </select>
    </div>
    <div class="form-group">
        <label>Alergeny:</label>
        @foreach (var allergen in ViewBag.Allergens as List<DietBowl.Models.Allergen>)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="SelectedAllergens" value="@allergen.Id" /> @allergen.Name
                </label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Zapisz preferencje</button>
</form>
