@model DietBowl.ViewModel.UserVM

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Logowanie</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form class="login" asp-action="LoginUser" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="Email" placeholder="Email użytkownika" required>
                </div>
                <div class="field">
                    <input type="password" name="Password" placeholder="Hasło" required>
                </div>
                @if (ViewData["errorL"] != null)
                {
                    <p class="error">@ViewData["errorL"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zaloguj">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
