<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<br />
<br />
<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Rejestracja</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form class="signup" asp-action="Register" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="FirstName" placeholder="Imię" required>
                </div>
                <div class="field">
                    <input type="text" name="LastName" placeholder="Nazwisko" required>
                </div>
                <div class="field">
                    <input type="email" name="Email" placeholder="Adres email" required>
                </div>

                <div class="field">
                    <input type="text" inputmode="numeric" name="Age" placeholder="Wiek" required>
                </div>
                <div class="field">
                    <input type="tel" name="PhoneNumber" placeholder="Numer telefonu" required>
                </div>
                <div class="field">
                    <input type="password" name="Password" placeholder="Hasło" required>
                </div>
                <br />
                
                <p class="sexchoice" >Wybierz płeć:</p>
                <div>
                    
                    <div>
                        <div>
                            <input type="radio" id="Sex" name="Sex" value="Mezczyzna" checked style="display:true" />
                            <label class="pole" for="Mezczyzna">Mezczyzna</label>
                        </div>

                        <div>
                            <input type="radio" id="Sex" name="Sex" value="Kobieta" />
                            <label class="pole" for="Kobieta">Kobieta</label>
                        </div>
                    </div>
                </div>

                @if (ViewData["errorR"] != null)
                {
                    <p class="error">@ViewData["errorR"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zarejestruj">
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="~js/addUser.js"></script>*@