<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Logowanie</div>
        <div class="title signup">Rejestracja</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Logowanie</label>
            <label for="signup" class="slide signup">Rejestracja</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form class="login" asp-action="LoginUser" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="login" placeholder="Nazwa użytkownika" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Hasło" required>
                </div>
                @if (ViewData["errorL"] != null)
                {
                    <p class="error">@ViewData["errorL"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zaloguj">
                </div>
            </form>
            <form class="signup" asp-action="AddUser" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="uFirstName" placeholder="Imie" required>
                </div>
                <div class="field">
                    <input type="text" name="uLastName" placeholder="Nazwisko" required>
                </div>
                <div class="field">
                    <input type="text" name="uEmail" placeholder="Adres email" required>
                </div>
                <div class="field">
                    <input type="text" name="uNick" placeholder="Nazwa użytkownika" required>
                </div>
                <div class="field">
                    <input type="password" name="uPassword" placeholder="Hasło" required>
                </div>
                @if (ViewData["errorR"] != null)
                {
                    <p class="error">@ViewData["errorR"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zarejestruj">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/LogRegForm.js"></script>
