<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<div class="wrapper">
    <div class="title-text">
        <div class="title login">Logowanie</div>
        <div class="title signup">Rejestracja</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Logowanie</label>
            <label for="signup" class="slide signup">Rejestracja</label>
            <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
            <form class="login" asp-action="LoginUser" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="login" placeholder="Nazwa użytkownika" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="Hasło" required>
                </div>
                @if (ViewData["errorL"] != null)
                {
                    <p class="error">@ViewData["errorL"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zaloguj">
                </div>
            </form>
            <form class="signup" asp-action="Register" asp-controller="User" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="FirstName" placeholder="Imię" required>
                </div>
                <div class="field">
                    <input type="text" name="LastName" placeholder="Nazwisko" required>
                </div>
                <div class="field">
                    <input type="email" name="Email" placeholder="Adres email" required>
                </div>

                <div class="field">
                    <input type="number" name="Age" placeholder="Wiek" required>
                </div>
                <div class="field">
                    <input type="tel" name="PhoneNumber" placeholder="Numer telefonu" required>
                </div>
                <div class="field">
                    <input type="password" name="Password" placeholder="Hasło" required>
                </div>
                <div class="field">
                    <label for="gender">Płeć:</label>
                    <select id="gender" name="gender">
                        <option value="male">Mężczyzna</option>
                        <option value="female">Kobieta</option>
                    </select>
                </div>
                @if (ViewData["errorR"] != null)
                {
                    <p class="error">@ViewData["errorR"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Zarejestruj">
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="border-top footer text-muted" style="height: 50px;">
    <div class="container" style="line-height: 50px;">
        &copy; 2024 - DietBowl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
    </div>
</footer>

<script src="~/js/LogRegForm.js"></script>
