@model List<DietBowl.Models.User>

<h2>Lista Pacjentów</h2>

<table>
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <!-- Inne pola -->
        <th>Akcje</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <!-- Inne pola -->
            <td>
                <!-- Przycisk lub link do przypisania pacjenta do dietetyka -->
            </td>
        </tr>
    }
</table>