@{
    ViewData["Title"] = "Panel dietetyka";
}
<br />
<br />

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<style>
    p {
        text-align: center;
        font-weight: bold;
    }
</style>


<p>Witaj dietetyku</p>
