@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div class="holy-grail-grid">
        <main class="main-content">
            <section>
            <div class="div1">
                <span>
                    Zmień swoje życie na lepsze z naszymi dietami -
                    Daj swojemu ciału to, czego naprawdę potrzebuje!
                </span>
                <br />
                    <img src="~/images/ketogenic-low-carbs-diet-food-selection-white-wall.jpg" alt="">
                <p>
                    Zapraszamy Cię do świata, gdzie dieta staje się czystą przyjemnością,
                    a zdrowe odżywianie to klucz do osiągnięcia pełnej witalności i szczęścia.
                    Nasza platforma oferuje szeroki wybór diet dopasowanych do różnorodnych
                    potrzeb i preferencji - od planów odchudzających, przez dietę wegańską po
                    programy detoksykacyjne.

                    Nasi doświadczeni dietetycy i specjaliści od żywienia przygotowują dla Ciebie
                    zbilansowane i smaczne posiłki, uwzględniając Twoje cele oraz indywidualne
                    potrzeby. Dzięki naszym planom żywieniowym nie tylko zrzucisz zbędne kilogramy,
                    ale także poczujesz się lepiej w swoim ciele, zyskując energię i poprawiając
                    swoje samopoczucie.
                </p>
            </div>
            </section>
            <br />
            <section>
            <div class="div2">
                <span>
                    Daj swojemu ciału najlepszą opiekę, jaką zasługuje,
                    i ciesz się energią, lepszym samopoczuciem oraz osiąganiem
                    swoich celów!
                </span>
                <br />
                <img src="https://www.wapteka.pl/blog_zdjecia/zdrowie-ukryte-w-komorkach-stres-a-dieta-porady-zywieniowe-dotyczace-mikroodzywiania.webp?20231021214919" alt="">
                <p>
                    Nie czekaj dłużej - dołącz do naszej społeczności i doświadcz transformacji,
                    której nigdy wcześniej nie doświadczyłeś. Z nami, zdrowe odżywianie staje się
                    przyjemnością, a każdy kęs to krok w stronę lepszej wersji siebie. Dołącz już
                    dziś i zacznij podróż do zdrowszego, szczęśliwszego życia!
                </p>
            </div>
            </section>
            <section>
            <div class="w3-container">
                <span  style="t text-align:center">
                        Rozświetl swoją wiedzę o zdrowiu: Niezwykłe fakty, ciekawostki i naukowe odkrycia, które pozwolą Ci lepiej zrozumieć swoje ciało i umysł
                </span>
                
            </div>
                <br />
                <br />
            <div class="w3-content w3-display-container">

                <div class="w3-display-container mySlides">
                    <img src="~/images/arbuz.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-small w3-container w3-padding-16 w3-black">
                        Ponad 90% masy arbuza stanowi woda, co pomaga w nawodnieniu organizmu, 
                        szczególnie w upalne dni. Dodatkowo, arbuz jest bogatym źródłem witaminy C,
                        która wspieranasz układ odpornościowy oraz potasu, który pomaga w 
                        regulacjiciśnienia krwi. Tak więc, sięgając po kawałek arbuza, 
                        możemy cieszyćsię smakiem i korzyściami dla zdrowia!
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/kawa.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-small w3-container w3-padding-16 w3-black">
                        Regularne spożywanie kawy może być związane z
                        obniżeniem ryzyka rozwoju niektórych chorób przewlekłych, takich
                        jak choroby serca, cukrzyca typu 2 oraz niektóre rodzaje nowotworów,
                        jak rak wątroby i rak jelita grubego. Badania sugerują, że składniki
                        zawarte w kawie, takie jak przeciwutleniacze i związki fenolowe, mogą
                        mieć właściwości przeciwzapalne i przeciwnowotworowe.
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img src="~/images/kakaowiec.jpg" style="width:100%">
                    <div class="w3-display-bottommiddle w3-small w3-container w3-padding-16 w3-black">
                        Badania sugerują, że regularne spożywanie
                        niewielkich ilości czekolady o wysokiej zawartości kakao może
                        być związane z obniżeniem ryzyka wystąpienia chorób serca oraz
                        poprawą nastroju i funkcji mózgu. Warto jednak zaznaczyć, że korzyści
                        te są związane głównie z czekoladą o wysokiej zawartości kakao (70% lub więcej),
                        a nie z jej słodzonymi i przetworzonymi wersjami.
                    </div>
                </div>

                    <div class="w3-display-container mySlides">
                        <img src="~/images/papryka.jpg" style="width:100%">
                        <div class="w3-display-bottommiddle w3-small w3-container w3-padding-16 w3-black">
                            Papryka czerwona jest bogatym źródłem witaminy C, 
                            karotenoidów (takich jak beta-karoten) oraz przeciwutleniaczy, 
                            takich jak witamina A i witamina E. Te substancje mogą pomóc w 
                            obniżeniu poziomu złego cholesterolu (LDL) oraz zapobiec oksydacji 
                            cholesterolu, co zmniejsza ryzyko wystąpienia chorób serca.
                        </div>
                    </div>

                    <div class="w3-display-container mySlides">
                        <img src="~/images/ogórek.jpg" style="width:100%">
                        <div class="w3-display-bottommiddle w3-small w3-container w3-padding-16 w3-black">
                            Badania wykazały, że ogórek zielony jest bogatym źródłem związków roślinnych,
                            takich jak flawonoidy i lignany, które wykazują działanie przeciwutleniające
                            i przeciwzapalne. Te substancje mogą pomóc w ochronie komórek przed uszkodzeniami 
                            oksydacyjnymi oraz w zmniejszeniu stanów zapalnych w organizmie.
                        </div>
                    </div>

                

                

                <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

            </div>

            </section>


            </main>
</body>



<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>