@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>

<body>
    <div class="holy-grail-grid">
        <main class="main-content">
            <section>
            <div class="div1">
                <span>
                    "Zmień swoje życie na lepsze z naszymi dietami -
                    Daj swojemu ciału to, czego naprawdę potrzebuje!"
                </span>
                <br />
                <img src="https://www.medistore.com.pl/_ipx/f_jpeg,s_1920x1016/https://prod-api.medistore.com.pl/media/amasty/blog/Dietetyk-czym-sie-zajmuje.jpg" alt="">
                <p>
                    Zapraszamy Cię do świata, gdzie dieta staje się czystą przyjemnością,
                    a zdrowe odżywianie to klucz do osiągnięcia pełnej witalności i szczęścia.
                    Nasza platforma oferuje szeroki wybór diet dopasowanych do różnorodnych
                    potrzeb i preferencji - od planów odchudzających, przez dietę wegańską po
                    programy detoksykacyjne.

                    Nasi doświadczeni dietetycy i specjaliści od żywienia przygotowują dla Ciebie
                    zbilansowane i smaczne posiłki, uwzględniając Twoje cele oraz indywidualne
                    potrzeby. Dzięki naszym planom żywieniowym nie tylko zrzucisz zbędne kilogramy,
                    ale także poczujesz się lepiej w swoim ciele, zyskując energię i poprawiając
                    swoje samopoczucie.
                </p>
            </div>
            </section>
            <br />
            <section>
            <div class="div2">
                <span>
                    Daj swojemu ciału najlepszą opiekę, jaką zasługuje,
                    i ciesz się energią, lepszym samopoczuciem oraz osiąganiem
                    swoich celów!
                </span>
                <br />
                <img src="https://www.wapteka.pl/blog_zdjecia/zdrowie-ukryte-w-komorkach-stres-a-dieta-porady-zywieniowe-dotyczace-mikroodzywiania.webp?20231021214919" alt="">
                <p>
                    Nie czekaj dłużej - dołącz do naszej społeczności i doświadcz transformacji,
                    której nigdy wcześniej nie doświadczyłeś. Z nami, zdrowe odżywianie staje się
                    przyjemnością, a każdy kęs to krok w stronę lepszej wersji siebie. Dołącz już
                    dziś i zacznij podróż do zdrowszego, szczęśliwszego życia!
                </p>
            </div>
            </section>
        </main>
        <section class="left-sidebar"> </section>
        <aside class="right-sidebar"> </aside>
    </div>
</body>