@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>

@* <div class="homepage">
    <p>Witaj w świecie zdrowego odżywiania i pozytywnych zmian! 
        Nasza strona oferuje Ci nie tylko dietę, ale także wsparcie i 
        motywację w drodze do osiągnięcia Twoich celów zdrowotnych. Witaj 
        na stronie dietetycznej - DietBowl</p>
    <p>Tu poznasz najlepszych specjalistów od diet.</p>

   
</div> *@

<div class="container1">
    <div class="box">
        <div class="product__img">
            <img src="https://www.medistore.com.pl/_ipx/f_jpeg,s_1920x1016/https://prod-api.medistore.com.pl/media/amasty/blog/Dietetyk-czym-sie-zajmuje.jpg" alt="">
        </div>

        

        <div class="product__disc">
            <div class="product__disc--content">
                <div class="disc__content--about">
                    <h1>Diet Bowl</h1>
                    <span>"Zmień swoje życie na lepsze z naszymi dietami - Daj swojemu ciału to, czego naprawdę potrzebuje!"</span>
                    <p>
                        Zapraszamy Cię do świata, gdzie dieta staje się czystą przyjemnością, 
                        a zdrowe odżywianie to klucz do osiągnięcia pełnej witalności i szczęścia. 
                        Nasza platforma oferuje szeroki wybór diet dopasowanych do różnorodnych 
                        potrzeb i preferencji - od planów odchudzających, przez dietę wegańską po 
                        programy detoksykacyjne.

                        Nasi doświadczeni dietetycy i specjaliści od żywienia przygotowują dla Ciebie
                        zbilansowane i smaczne posiłki, uwzględniając Twoje cele oraz indywidualne 
                        potrzeby. Dzięki naszym planom żywieniowym nie tylko zrzucisz zbędne kilogramy,
                        ale także poczujesz się lepiej w swoim ciele, zyskując energię i poprawiając 
                        swoje samopoczucie.
                    </p>
                </div>

                
            </div>
        </div>

        
    </div>
</div>

<div class="container1">
    
    <div class="box">
        <div class="product__img">
            <img src="https://www.wapteka.pl/blog_zdjecia/zdrowie-ukryte-w-komorkach-stres-a-dieta-porady-zywieniowe-dotyczace-mikroodzywiania.webp?20231021214919" alt="">
        </div>
 
        <div class="product__disc">
            <div class="product__disc--content">
                <div class="disc__content--about">
                    <h1>Dieta</h1>
                    <span>Daj swojemu ciału najlepszą opiekę, jaką zasługuje,
                        i ciesz się energią, lepszym samopoczuciem oraz osiąganiem
                        swoich celów!</span>
                    <p>
                        Nie czekaj dłużej - dołącz do naszej społeczności i doświadcz transformacji, 
                        której nigdy wcześniej nie doświadczyłeś. Z nami, zdrowe odżywianie staje się 
                        przyjemnością, a każdy kęs to krok w stronę lepszej wersji siebie. Dołącz już 
                        dziś i zacznij podróż do zdrowszego, szczęśliwszego życia!
                    </p>
                </div>

                
            </div>
        </div>

        
    </div>
</div>