@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
</head>

<div class="homepage">
    <h1 class="display-4">Witaj na stronie dietetycznej - DietBowl</h1>
    <p>Tu poznasz najlepszych specjalistów do diet.</p>

    <div class="gallery">
        <div class="gallery-item">
            <img src="~/images/dietetyczny-obiad-zdjecie.jpg" alt="Zdjęcie 1" />
            <div class="description">
                <h2 class="danie1">Kasza gryczana z kalafiorem, granatem i pestkami dyni</h2>
                <p class="danie1">Jest to bardzo proste danie do zrobienia</p>
            </div>

        </div>
        <div class="gallery-item">
            <img src="~/images/kasza gryczana z warzywami i serem.jpg" alt="Zdjęcie 2" />
            <div class="description">
                <h2 class="danie1">Kasza gryczana z warzywami</h2>
                <p class="danie1">Jest to bardzo proste danie do zrobienia</p>
            </div>

        </div>
        <div class="gallery-item">
            <img src="~/images/majacademy_dania_dieteyczne-768x511.jpg" alt="Zdjęcie 3" />
            <div class="description">
                <h2 class="danie1">Inne danie</h2>
                <p class="danie1">Inne danie do zrobienia</p>
            </div>

        </div>
    </div>
</div>
