.blue {
    background-color:blue;
    color: white;
    padding: 10px;
    float: right;
    height: 100vh;
    width: 29vw;
    border:solid;
    border-color:black;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid;
    
    border-right: none;
}

.orange {
    flex: 1;
    padding: 20px;
    height: 10vh;
    width: 70vw;
    display: flex;
    background-color: orange;
    
    justify-content: space-between;
    align-items: center; /* Domyœlnie elementy bêd¹ wyœrodkowane w pionie */
    border-bottom: solid;
}

    .orange form {
        display: flex;
        align-items: center; /* Aby elementy formularza by³y wyœrodkowane w pionie */
        margin-right: 20px; /* Dodajemy odstêp miêdzy formularzami */
    }

        
        .orange form input[type="date"] {
            width: 200px; /* Szerokoœæ inputów formularza */
            padding: 10px;
            border-radius:15px;
        }
        .orange form input[type="text"] {
            width: 700px; /* Szerokoœæ inputów formularza */
            padding: 10px;
            border-radius: 15px;
            box-shadow:5px;
        }
    .orange .send-button {
        width: 50px;
        height: 55px;
        background-color: green;
        cursor: pointer;
        border-radius: 15px;
    }


.yellow {
    flex: 1;
    background-color: yellow;
    padding: 20px;

}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.recipe-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

    /* Stylowanie tytu³ów i opisów przepisów */
    .recipe-item h5 {
        margin-bottom: 5px;
    }

    .recipe-item p {
        margin: 5px 0;
    }

#allList {
    max-height: 90%;
    
}

    #allList > div {
        cursor: pointer;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

       

.send-button {
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .orange, .yellow {
        flex-basis: 100%;
    }
}

.form{
    width:50px;
}

.calories {
    position: relative;
}

.macros {
    
    border-style: solid;
    position: absolute;
    bottom: 70px;
}

/* Dodatkowe style mo¿esz dopasowaæ wed³ug w³asnych preferencji */
#glownyDiv {
    width: 100%;
    height: 400px; /* Ustaw wysokoœæ wed³ug potrzeb */
    border: 1px solid #ccc; /* Dodaj obramowanie dla wizualnej separacji */
    box-sizing: border-box;
    padding: 10px; /* Dostosuj wype³nienie wed³ug potrzeb */
}

#gornyDiv {
    width: 100%;
    height: 50%; /* Ustaw wysokoœæ wed³ug potrzeb */
    border-bottom: 1px solid #ccc; /* Obramowanie oddzielaj¹ce od dolnego diva */
    box-sizing: border-box;
    padding: 10px; /* Dostosuj wype³nienie wed³ug potrzeb */
}

#dolnyDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pojedynczyDiv {
    height:50%;
    width: calc(33.33% - 20px); /* Szerokoœæ ka¿dego diva - uwzglêdniaj¹c odstêpy */
    margin: 10px; /* Odstêp miêdzy divami */
    border: 1px solid #000; /* Dodatkowy styl ramki dla divów (opcjonalnie) */
    box-sizing: border-box; /* Uwzglêdnienie marginesów w obliczeniach szerokoœci */
}

.wolny{
    border:none;
}