.blue {
    background-color: #E9EAEC;
    color: white;
    padding: 10px;
    padding-bottom: 10px;
    float: right;
    height: 100vh;
    width: 25vw;
    border: solid;
    border-color: black;
}
.yellow {
    flex: 1;
    background-color: #E9EAEC;
    padding: 20px;
    height: 89.5vh;
    width: 30vh;
    overflow: auto; /* Dodaje pasek przewijania */
}

.orange {
    padding: 20px;
    height: 10vh;
    width: 75vw;
    display: flex;
    background-color: #E9EAEC;
    justify-content: space-between;
    border-bottom: solid;
    overflow:auto;
}



.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid;
    border-right: none;
    height:auto;
    width:auto;
}



    .orange form {
        display: flex;
        align-items: center; /* Aby elementy formularza by³y wyœrodkowane w pionie */
        margin-right: 20px; /* Dodajemy odstêp miêdzy formularzami */
    }

        
        .orange form input[type="date"] {
            width: 200px; /* Szerokoœæ inputów formularza */
            padding: 10px;
            border-radius:15px;
        }
        .orange form input[type="text"] {
            width: 300px; /* Szerokoœæ inputów formularza */
            padding: 10px;
            border-radius: 15px;
            box-shadow:5px;
        }
    .orange .send-button {
        width: 50px;
        height: 55px;
        background-color: green;
        cursor: pointer;
        border-radius: 15px;
    }




.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.recipe-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

    /* Stylowanie tytu³ów i opisów przepisów */
    .recipe-item h5 {
        font-weight:bold;
        color:black;
        margin-bottom: 5px;
    }

    .recipe-item p {
        color:black;
        margin: 5px 0;
    }

#allList {
    max-height: 90%;
    
}

    #allList > div {
        background-color:white;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius:15px;
    }

       

.send-button {
    width: 50px;
    height: 50px;
    background-color: green;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .orange, .yellow {
        flex-basis: 100%;
    }
}

.form{
    width:50px;
}

.calories {
    position: relative;
}

.macros {
    
    border-style: solid;
    position: absolute;
    bottom: 70px;
}


.dodaniereceptury {
    border-style:groove;
    border-color:black;
    height: 20%;
    width: 95%;
    background-color: white;
    margin: 10px;
    border-radius:15px;
    color:black;
    text-align:center;
}

.chartCard {
    max-width:100%;
    display:block;
    width: 50%;
    height: 60%;
}

.chartBox {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
   
}

.charts {
    display: grid;
    width: auto;
}

