body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

table.user-details {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd;
}

    table.user-details th,
    table.user-details td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    table.user-details th {
        background-color: #fafafa;
        color: #555;
    }

    table.user-details td {
        background-color: #fff;
        color: #333;
    }

.btn {
    display: block;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-success {
    background-color: #28a745;
}

    .btn-success:hover {
        background-color: #218838;
    }
