/* grid container */
.holy-grail-grid {
    display: grid;
    grid-template-areas:
        'main-content'
        'left-sidebar'
        'right-sidebar';
}

    /* general column padding */
    .holy-grail-grid > * {
        padding: 1rem;
    }

    /* assign columns to grid areas */


    .holy-grail-grid > .main-content {
        grid-area: main-content;
        background: #fff;
    }

    .holy-grail-grid > .left-sidebar {
        grid-area: left-sidebar;
        background: #fff;
    }

    .holy-grail-grid > .right-sidebar {
        grid-area: right-sidebar;
        background: #fff;
    }



/* tablet breakpoint */
@media (min-width:768px) {
    .holy-grail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'main-content main-content'
            'left-sidebar right-sidebar';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'left-sidebar main-content main-content right-sidebar';
    }
}

p {
    margin-top: 35px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Poppins';
}

span {
    font-family: 'Lato';
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    color: #283618;
    text-align: center;
}

img{
    width:100%;
    text-align:center;
    justify-content:center;
}


.div1 img,
.div2 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .div1 img:hover,
    .div2 img:hover {
        transform: scale(1.05);
    }

.div1 p,
.div2 p {
    color: #80B918;
    line-height: 1.6;
}