body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.no-diet-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

    .no-diet-container h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .no-diet-container p {
        font-size: 16px;
        color: #666;
        margin-bottom: 30px;
    }

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
