@model DietBowl.Models.Recipe

@{
    ViewData["Title"] = "Add Recipe";
}
<link rel="stylesheet" href="~/css/recipeadd.css" asp-append-version="true" />
<div class="containerr">
    <div class="recipe">
<h1 class="napis">Dodaj przepis</h1>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Nazwa przepisu</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Ingedients" class="control-label">Składniki</label>
        <textarea asp-for="Ingedients" class="form-control"></textarea>
        <span asp-validation-for="Ingedients" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Instructions" class="control-label">Przygotowanie</label>
        <textarea asp-for="Instructions" class="form-control"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="Carbohydrate" class="control-label">Węglowodany</label>
        <input asp-for="Carbohydrate" class="form-control" />
        <span asp-validation-for="Carbohydrate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Protein" class="control-label">Białko</label>
        <input asp-for="Protein" class="form-control" />
        <span asp-validation-for="Protein" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Fat" class="control-label">Tłuszcze</label>
        <input asp-for="Fat" class="form-control" />
        <span asp-validation-for="Fat" class="text-danger"></span>
    </div>
            <div class="form-group">
                <label>Alergeny:</label>
                @foreach (var allergen in @Model.Allergens)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="SelectedAllergens" value="@allergen.Id" /> @allergen.Name
                        </label>
                    </div>
                }
            </div>


    <button type="submit" class="btn btn-success float-end">Dodaj przepis</button>
    <br />
    <br />
</form>
</div>
</div>