@model Recipe

@{
    ViewData["Title"] = "Edytuj przepis";
    var allergens = ViewBag.Allergens as List<Allergen>;
}
<link rel="stylesheet" href="~/css/editrecipes.css" asp-append-version="true" />

<br />
<br />

<h1 style="text-align:center">@ViewData["Title"]</h1>

<div>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Title">Nazwa przepisu</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label">Wybierz kategorię</label>
            <select asp-for="Category" class="form-control">
                <option value="">-- Wybierz kategorię --</option>
                <option value="Śniadanie">Śniadanie</option>
                <option value="Obiad">Obiad</option>
                <option value="Przekąska">Przekąska</option>
                <option value="Kolacja">Kolacja</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Ingedients">Składniki</label>
            <textarea asp-for="Ingedients" class="form-control"></textarea>
            <span asp-validation-for="Ingedients" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Instructions">Przygotowanie</label>
            <textarea asp-for="Instructions" class="form-control"></textarea>
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Protein">Białko</label>
            <input asp-for="Protein" class="form-control" />
            <span asp-validation-for="Protein" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fat">Tłuszcze</label>
            <input asp-for="Fat" class="form-control" />
            <span asp-validation-for="Fat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Carbohydrate">Węglowodany</label>
            <input asp-for="Carbohydrate" class="form-control" />
            <span asp-validation-for="Carbohydrate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Calories">Kalorie</label>
            <input asp-for="Calories" class="form-control" readonly />
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Alergeny:</label>
            @foreach (var allergen in allergens)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="selectedAllergens" value="@allergen.Id" @(Model.Allergens.Any(a => a.Id == allergen.Id) ? "checked" : "") /> @allergen.Name
                    </label>
                </div>
            }
        </div>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>