<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<br />
<br />
<div class="wrapper">
    <div class="title-text">
        <div class="title signup">Dodaj dietetyka</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form class="signup" asp-action="AddDietitian" asp-controller="Administrator" method="post" enctype="multipart/form-data">
                <div class="field">
                    <input type="text" name="FirstName" placeholder="Podaj imię" required><br />
                </div>
                <div class="field">
                    <input type="text" name="LastName" placeholder="Podaj nazwisko" required>
                </div>
                <div class="field">
                    <input type="email" name="Email" placeholder="Podaj email" required>
                </div>

                <div class="field">
                    <input type="text" inputmode="numeric" name="Age" placeholder="Podaj wiek" required>
                </div>
                <div class="field">
                    <input type="tel" name="PhoneNumber" placeholder="Podaj numer telefonu" required>
                </div>
                <div class="field">
                    <input type="password" name="Password" placeholder="Ustal hasło" required>
                </div>
                <p class="sexchoice">Wybierz płeć:</p>
                <div>

                    <div>
                        <div>
                            <input type="radio" id="Sex" name="Sex" value="Mezczyzna" checked style="display:true" />
                            <label class="pole" for="Mezczyzna">Mezczyzna</label>
                        </div>

                        <div>
                            <input type="radio" id="Sex" name="Sex" value="Kobieta" />
                            <label class="pole" for="Kobieta">Kobieta</label>
                        </div>
                    </div>
                </div>
                @if (ViewData["errorR"] != null)
                {
                    <p class="error">@ViewData["errorR"]</p>
                }
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Dodaj dietetyka">
                </div>
            </form>
        </div>
    </div>
</div>

